body{
    text-align: center;
}
h1{
    margin: 30px 0 10px 0;
}
form{
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid rgb(255, 141, 2);
    border-radius: 5px;
    font-family: sans-serif; 
}
form p{
    margin-bottom: 5px;
}
form label{
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
}
form input[type="text"],
form textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #878686;
    border-radius: 3px;
    box-sizing:border-box;
}
form textarea{
    height: 100px;
}
form button[type="submit"]{
    background-color: rgb(2, 112, 255);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    font-size: 17px;
    margin-top: 10px;
}
.post-2{
    width: 430px;
    border: 3px solid #ffd46f;
    padding:5px;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 10px;
}
.delete{
    background-color: rgb(255, 65, 2);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
}
.line{
    border-color: rgb(248, 179, 95);
}